.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.inputfile + label {
    display: inline-block;
    cursor: pointer; /* "hand" cursor */
}
.table-responsive {
	max-height: 500px;
	overflow-y: scroll;
}

.table th, .table td {
	padding: 0.25rem;
}

.page-link {
	cursor: pointer;
}

.hidden {
	display: none;
}
